* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
}


body {
  background-color: #000000;
}

.dates {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(255, 255, 255);
  gap: 25px;
  padding: 9px;
  
}

.calander {
  margin: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 574px;
  height: 129px;
  padding: 10px;
  background-color: #FF844C;
  border-radius: 20px;
}

.dates .selected {

color: black;
}

.jours .selected {
  color: black;
  opacity: 60%;
}

.selected {
  background-color: rgb(255, 255, 255);
  border-radius: 24px;
  width: 77px;
  height: 109px;
  padding: 18px;
  color: black;

}




.chiffre {
font-family: "Open Sans", sans-serif;
font-size: 35px;
font-weight: 400;
line-height: 24px; 
color: rgb(255, 255, 255);
}

.jours {
font-family: "Open Sans", sans-serif;
font-size: 23px;
font-weight: 400;
line-height: 24px;
opacity: 60%;
color: rgb(255, 255, 255);
}
.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:"wdth" 100;
}